.App {
  height: 100vh;
  background: rgba(71, 51, 255, 0.08);
}
.bg-container {
  background-image: url(./assets/img/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.MuiButtonBase-root {
  text-transform: none !important;
}
.MuiLink-root {
  text-decoration: none !important;
  color: black !important;
  font-size: .9rem !important;
  font-weight: 500 !important;
}
.MuiLink-root.primary {
  background-color: #3B4050 !important;
  color: #FEFEFE !important;
  border-radius: 999px !important;
  padding: 10px 16px !important;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.search-input {
  flex: 1;
  max-width: 860px;
  display: flex;
  align-items: center;
  background-color: rgba(71, 51, 255, 0.08);
  border-radius: 999px; 
  padding: 8px 15px;
}
.search-input label {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.search-input input {
  font-size: .8rem;
}
.search-input .categories {
  border-radius: 999px;
  overflow: hidden; 
  display: flex;
  align-items: center; 
  background-color: #FEFEFE;
}
.search-input .categories button {
  box-shadow: none;
  background-color: #FEFEFE;
  color: #3B4050;
  padding: 2px 10px;
  font-size: .8rem;
}
.search-input .categories button.selected {
  background-color: #3B4050;
  color: #FEFEFE;
  border-radius: 999px;
}
.land-welcome {
  width: 70%;
  max-width: 680px;
  margin: 5rem auto;
  text-align: center;
}
.land-welcome h3 {
  margin-bottom: 2rem;
}
.land-welcome .search-input {
  margin: 2rem 0;
}
.land-welcome .topics button {
  box-shadow: none;
  background-color: #FFFFFF;
  color: #3B4050;
  border-radius: 999px;
  padding: 2px 10px;
  font-size: .8rem;
  margin-right: 10px;
}
.land-categories {
  padding: 1rem 1rem;
}
.land-categories a {
  box-shadow: none;
  background-color: #FEFEFE;
  color: #3B4050;
  padding: 6px 10px;
  font-size: .8rem;
  border-radius: 999px;
  line-height: 1.2;
}
.land-categories a:hover {
  background-color: #ffffffb8;
}
.land-categories a img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 5px;
}